@import url(./normal.css);
body{
  background:#f1f1f1;
  color:#333;
}
.formContainer{
  width:1200px;
  margin:0 auto;
  text-align: center;
}
.form__title{
  font-size:2.4rem;
}
.form__field{
  position: relative;
  border:0;
}
/*  label 공통  */
.form__group > label{
  display:inline-block;
  font-size:1rem;
  font-weight:bold;
  width:10%;
  color: #666;
}
/* input 공통 */
.form__group > input{
  border:0;
  width:300px;
  height:auto;
  padding:1rem;
  margin:1rem 0;
}

/* button 공통 */
button{
  color:#fff;
  background:#0779e4;
  width:200px;
  padding:1rem;
  margin-top:1rem;
  text-align: center;
  border:0;
  transition:all .4s;
  cursor: pointer;
}
button:hover{
  background:#fff;
  color:#0779e4;
}
form > legend {
  width:1px;
  height:1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0 , 0 0);
}