<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
    /> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="{% static "fcuser/style.css" %}">
  </head>
  <body>
    <section class="formContainer">
      <h1 class="form__title">DJango에 가입해보세요</h1>
        <fieldset class="form__field">
          <form method="POST" action=".">
            <!--크로스 사이트 요청 위조를 방지함 -->
            {% csrf_token %}
            <!-- view에서 전달받은 error 값을 html에 보여준다 -->
            {{ error }}
            <legend>회원가입</legend>
            <div class="form__group">
              <label for="username">사용자이름</label>
              <input
                type="text"
                class="form__control"
                id="username"
                placeholder="아이디를 입력하세요"
                name="username"
              />
            </div>
            <div class="form__group">
              <label for="useremail">사용자이메일</label>
              <input
                type="text"
                class="form__control"
                id="useremail"
                placeholder="아이디를 입력하세요"
                name="useremail"
              />
            </div>
            <div class="form__group">
              <label for="password">비밀번호</label>
              <input
                type="password"
                class="form__control"
                id="password"
                placeholder="비밀번호를 입력하세요"
                name="password"
              />
            </div>
            <div class="form__group">
              <label for="re-password">비밀번호 확인</label>
              <input
                type="password"
                class="form__control"
                id="re-password"
                placeholder="비밀번호를 한번 더 입력하세요"
                name="re-password"
              />
            </div>
            <button type="submit" class="btn btn-default">회원가입</button>
          </form>
        </fieldset>
    </section>
  </body>
</html>
