@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    height: 100%;
    font-size: 16px;
}

body {
    background: #eee;
}

input,
select {
    width: 50%;
    height: 40px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    padding: 0 .5rem;
}

label {
    width: 15%;
    margin-right: 10px;
    display: inline-block;
}

button {
    border: 0;
    border-radius: 30px;
    outline: 0;
    cursor: pointer;
}

.defaultContainer {
    width: 50%;
    margin: 0 auto;
}

.itemContainer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Container__item {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.Container__item > img {
    width: 40%
}

.Container__info {
    width: 100%;
    color: #111;
}

.info__titleInner {
    padding: 1rem;
}

.titleInner,
.selectInner {
    font-size: 2rem;
    display: inline-block;
}

.titleInner > strong {
    font-size: 1rem;
    color: #d0202a;
}

.titlePrice {
    margin-left: 2%;
    color: #787878;
}

.titleInfo {
    font-size: 0.95rem;
    padding: 1rem 0;
}

.info__selectInner {
    padding: 0 1rem
}

.commonInput {
    padding: .5rem 0;
}

.basicBtn {
    width: 140px;
    line-height: 2.9;
    background: #0071e3;
    color: #fff;
    display: block;
    margin: 10px auto;
}


.table_container {
    width: 100%;
    border-top:1px solid #999;
    margin-top:2rem;
}

.table_container > table {
    width: 100%;
    border-top:1px solid #999;

}

.table_container > h2{
    padding:1rem 0;
}

.table_container > table > tbody > tr > td {
    text-align: center;
    padding:0.5rem 0;
    font-size:0.85em;
}