<!DOCTYPE html>
{% extends 'base.html' %}
      {% block contents %}
      <h1 class="form__title">글쓰기</h1>
            <p class="alert_title">{{ error }}</p>
            <div class="form__group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" value="{{ board.title }}" readonly>
            <label for="title">제목</label>
            <textarea class="form-control" readonly>{{board.contents }}</textarea>
            <button class="btn btn-primary" onclick="location.href='/board/list/'">돌아가기</button>
            </div>
    {% endblock  %}